*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    padding: 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    width: 100%;
    height: 80px;
    padding: 0px 20px;
    display: flex;
    background-color: rgb(243, 243, 243);
}

header .titulo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.2em;
    color: #ff5a5f;
}

header .navegacion-principal{
    width: 40%;
    height: 100%;
    padding: 0px 5px;
}

header .login{
    width: 30%;
    height: 100%;
    display: flex;
    margin-left: 10em;
    align-items: center;
    justify-content:space-around;
}

header .navegacion-principal ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
header .navegacion-principal ul li{
    display: flex;
    padding-bottom: 7px;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
}

header .navegacion-principal ul li:hover{
    border-bottom: 2px solid black;
    font-weight: bold;
    transition: border-bottom 0.2s ease;
}


header .navegacion-principal .nav-icon{
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-right: 3px;
}

header .navegacion-principal .alojamiento-img{
    background-image: url(Globo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header .navegacion-principal .experiencias-img{
    background-image: url(Casa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header .navegacion-principal .servicios-img{
    background-image: url(Ring.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header .nav-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
}

header .login .login-bg-icon{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgb(232, 232, 232);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

header .login .login-bg-icon:hover{
    width: 45px;
    height: 45px;
    background-color: rgb(226, 226, 226);
}

header .login-anfitrion{
    text-decoration: none;
    color: black;
}

header .login a{
    display: flex;
    height: 40px;
    width: 180px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

header .login a:hover{
    background-color: rgb(232, 232, 232);
    transition: all 0.5s ease;
}

header .login .globo-img{
    background-image: url('mundo_globo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header .login .menu-img{
    background-image: url('bars-solid-full.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*BARRA DE BUSQUEDA*/

.buscador{
    width: 100%;
    height: 80px;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscador .buscador-container{
    width: 55%;
    height: 60px;
    padding: 0 7px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.buscador .buscador-input{
    width: 20%;
    height: 60%;
    border-radius: 20px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.buscador .buscador-input p{
    font-size: 0.8em;
    font-weight: bold;
}


.buscador .buscador-input input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 0.9em;
    background-color: transparent;
}

.buscador .buscador-input:hover{
    background-color: rgb(232, 232, 232);
    
}

/*.busacdor .buscador-middle{
    border-radius: 0px;
    border-left: 1px solid rgb(239, 239, 239);
    border-right: 1px solid rgb(239, 239, 239);
}*/

.buscador .buscador-middle::after{
    content: "";
    width: 0.5px;
    height: 30px;
    background-color: rgb(223, 223, 223);
    left: 57%;
    position: absolute;
}

.buscador .buscador-middle::before{
    content: "";
    width: 1px;
    height: 30px;
    background-color: rgb(223, 223, 223);
    position: absolute;
    left: 39%;
}

.buscador .buscador-button{
    width: 50px;
    height: 50px;
    background-color: #ff5a5f;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: url(mundo_globo.png);
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
}

.resultados{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.resultados .resultados-section{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff5a5f;
}

.resultados .resultados-section h2{
    height: 30px;
    padding-top: 5px;
    font-size: 1em;
    align-self: flex-start;
    justify-self: center;
    background-color: aqua;
}

.resultados .resultados-lista{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

.resultados .resultados-lista .resultado{
    width: 300px;
    height: 270px;
    background-color: blue;
    margin: 0 10px;
}

.resultados .resultados-lista .resultado .sittio-descripcion{
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultados .resultados-lista .resultado .sittio-descripcion h2{
    
}