*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    padding: 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    width: 100%;
    height: 80px;
    padding: 0px 20px;
    display: flex;
    background-color: rgb(229, 229, 229);
}

header .titulo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.5em;
    color: #FF5A5F
}

header .navegacion-principal{
    width: 40%;
    height: 100%;
    padding: 0px 10px;
}

header .login{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .navegacion-principal ul{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .navegacion-principal ul li{
    display: flex;
    padding-bottom: 7px;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
}

header .navegacion-principal ul li:hover{
    font-weight: bold;
    border-bottom: 2px solid black;
    transition: border-bottom 0.1s ease;
}

header .navegacion-principal .nav-icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.navegacion-principal .alojamiento-img{
    background-image: url(img/icons/NoAirBNBLogoCasa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navegacion-principal .experiencias-img{
    background-image: url(img/icons/NoAirBNBLogoGlobo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navegacion-principal .servicios-img{
    background-image: url(img/icons/NoAirBNBLogoRing.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header .login-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
}

header .login .login-bg-icon{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

header .login a{
    display: inline-block;
    width: 180px;
    height: 30px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    line-height: 30px;
    transition: all 0.5s ease;
}

header .login a:hover{
    background-color: rgb(198, 197, 197);
    transition: all 0.5s ease;
}

header .login .login-bg-icon:hover{
    width: 45px;
    height: 45px;
}

header .login .globo-img{
    background-image: url(img/icons/globo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header .login .menu-img{
    background-image: url(img/icons/menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* BUSCADOR */

.buscador{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(229, 229, 229);
}

.buscador .buscador-container{
    width: 60%;
    height: 50px;
    padding: 0 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.buscador .buscador-input{
    width: 20%;
    height: 90%;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buscador .buscador-input p{
    font-size: 0.8em;
    font-weight: bold;
}

.buscador .buscador-input input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 0.9em;
    color: gray;
}

/* .buscador .buscador-middle{
    border-radius: 0px;
    border-left: 1px solid rgb(198, 197, 197);
    border-right: 1px solid rgb(198, 197, 197);
} */

.buscador .buscador-middle::after{
    content: "";
    width: 1.5px;
    height: 30px;
    background-color: rgb(198, 197, 197);
    left: 58%;
    position: absolute;
}

.buscador .buscador-middle::before{
    content: "";
    width: 1.5px;
    height: 30px;
    background-color: rgb(198, 197, 197);
    position: absolute;
    left: 39%;
}

.buscador .buscador-button{
    width: 40px;
    height: 40px;
    background-color: #FF5A5F;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: url(img/icons/lupa.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/* RESULTADOS */

.resultados{
    width: 100%;
    height: auto;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultados .resultados-seccion{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultados .resultados-seccion h2{
    height: 30px;
    padding-top: 5px;
    font-size: 1em;
    align-self: flex-start;
    justify-self: center;
}

.resultados .resultados-lista{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.resultados .resultados-lista .resultado{
    width: 200px;
    height: 260px;
    background-color: white;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.resultados .resultados-lista .resultado .sitio-thumbnail{
    width: 180px;
    height: 180px;
    border-radius: 20px;
    background-image: url(img/thumbnails/Casa01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.resultados .resultados-lista .resultado .sitio-mensaje{
    width: 120px;
    height: 40px;
    padding-left: 8px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    left: 10px;
    top: 10px;
    border-radius: 15px;
    font-size: 0.8em;
    font-weight: bold;
}

.resultados .resultados-lista .resultado .sitio-descripcion{
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultados .resultados-lista .resultado .sitio-descripcion h4{
    font-size: 0.8em;
    font-weight: bold;
}

.resultados .resultados-lista .resultado .sitio-descripcion .sitio-fecha{
    font-size: 0.7em;
    color: gray;
}

.resultados .resultados-lista .resultado .sitio-descripcion .sitio-precio{
    font-size: 0.7em;
    color: gray;
}

.sugerencia{
    width: 100%;
    height: auto;
    padding: 0px 20px;
    margin-top: 25px;
}

.sugerencias nav{
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(160, 160, 160, 0.8);
}

.sugerencias nav ul{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
}

.sugerencias nav ul li{
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
}

.sugerencias nav ul li:hover{
    font-weight: bold;
    border-bottom: 2px solid black;
}

.sugerencias .sugerencias-lista{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 5px;
}

.sugerencias .sugerencias-lista .sugerencia{
    width: 180px;
    height: 70px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    cursor: pointer;
}

.referencias{
    width: 100%;
    height: auto;
    padding: 0px 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.referencias div{
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.referencias div h4{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.referencias div ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.referencias div ul li{
    margin-bottom: 10px;
}

.referencias div ul li a{
    text-decoration: none;
    color: gray;
    font-size: 0.9em;
}

footer{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .derechos{
    width: 50%;
    height: 100%;
}

footer .derechos ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

footer .derechos ul li{
    margin-right: 20px;
}

footer .derechos ul li a{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}