*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    padding: 5px 20px;

}

header{
    width: 100%;
    height: 100px;   
    display: flex;
}

header .titulo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: #ff5a51;

}

header .navegacion_principal{
    width: 40%;
    height: 100%;
    padding: 0px 10px;
}

header .login{
    width: 30%;
    height: 100%;
    background-color: bisque;
}

header .navegacion_principal ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

header .navegacion_principal ul li{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
}

header .navegacion_principal ul li:hover{
    font-weight: bold;
    border-bottom: 2px solid black;
}

header .navegacion_principal .nav-icon{
    width: 35px;
    height: 35px;
    margin-right: 3px;
}

.navegacion_principal .alojamiento-img{
    background-image: url("Casa.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.navegacion_principal .experiencias-img{
    background-image: url("Globo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.navegacion_principal .servicios-img{
    background-image: url("Ring.png");
    background-size: cover;
    background-repeat: no-repeat;
}

